body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#F8F8FF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

section.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

/**
Flexbox helpers
*/
.flex {
    display: flex;
}

.flex.fill {
    flex: 1;
}

.flex.align-items-baseline {
    align-items: baseline;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-align-items-center {
    align-items: center;
}


/***/

.centered {
   text-align: center;
   font-size: 20px;
}

.img {
   position:static;
 }

.text-block{
    margin: auto;
    font-size: 50px;
    color: Black;
    opacity: 0.8;
}

.computer {
    background: url('../images/computer.jpg') no-repeat;
    background-position: center center;
    height: 400px;
}

footer{
   text-align: center;
}

.logo{
   margin-left: 100px;
}

#copyright{
   text-align: center;
   margin: 30px 0 10px 0;
   font-size: 12px;
}

.title{
   text-align: center;
   font-size: 35px;
}

.footer img {
    width: 30px;
    height: 30px;
}

.logo{
   margin-left: 100px;
   width: 100px;
   height: 100px;
}

.navigation a:link {
    text-decoration: none;
}

.navigation :visited {
    color: #333333;
}

.navigation a:hover {
    color: #666666;
}

.navigation a:active {
    color: #666666;
}
.navigation {
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 30px;
    text-align: end;
    font-weight: bolder;
    font-size: large;
}

.service_header{
    text-align: center;
    margin-bottom: 200px;
}

.about-content {
    width: 600px;
    margin: auto;
}

.about-content div h2 {
    margin: auto 24px;
    white-space: nowrap;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;

  }

  input[type=submit] {
    background-color: rgba(128, 128, 128, 0.678);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: rgba(128, 128, 128, 0.678);
  }

  .contactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  .contact-info {
      padding: 8px;
  }

  .contact-info p {
      margin: 4px;
  }

  .content p {
      font-size: x-large;
  }
